.Content-Area {
    width: 960px;
    margin: auto;
}

.my-name {
    width: 25%;
    background-color: #4aaaa5;
    color: white;
}

.div-heading {
    color: #4aaaa5;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

footer {
    height: 50px;
    margin-top: -50px;
    border-top: 8px solid #4aaaa5;
    background-color: #777777;
    text-align: center;
    }

body {
    background-image: url("assets/images/herringbone.png");
    }

section {
    position: relative;
}

#philcowan {
    position: relative;
    width: 20%;
}

#bio {
    width:75%;
    color: #bbb;
    position: absolute;
    right: 0;
    top: 0;
}

a {
    color: #bbb;
}

hr {
    color: #bbb;
}